
<!-- <div class="main-component">
  <div class="card m-5" style="width: 18rem;">
    <a id="titulo" href="#"><strong>Macarrones</strong></a>
    <a id="precio" href="#">4€</a>
    <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
    <div class="card-body">
      <a id="titulo" href="#">Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</a>
      <a href="#" class="btn btn-warning">Modificar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div>

  <div class="card m-5" style="width: 18rem;">
    <a id="titulo" href="#">Macarrones</a>
    <a id="precio" href="#">4€</a>
    <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
    <div class="card-body">
      <a id="titulo" href="#">Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</a>
      <a href="#" class="btn btn-warning">Modificar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div> -->


  <div class="main-component">

 <!--    <div class="row">
      <mat-toolbar class="bg-toolbar">
        <span class="example-spacer"></span>
        <input type="text" class="form-control maxWidthInput" placeholder="Buscar">
        <button type="button" class="btn btn-secondary button-search">Buscar</button>
      </mat-toolbar>
    </div> -->

    <div class="row">

      <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Borsch</mat-card-title>
        <mat-card-subtitle>6.00€</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/borsch2.JPG">
      <mat-card-content>
        <p>
          La sabrosa y aromática sopa de remolacha llamada borsch.
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-center">
        <button mat-button>MODIFICAR</button>
        <button mat-button>ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
      </div>

      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Varenyky</mat-card-title>
            <mat-card-subtitle>6.00€</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/img/varenyki2.JPG">
          <mat-card-content>
            <p>
              "Media lunas" rellenas de puré de patata, setas y requesón.
            </p>
          </mat-card-content>
          <mat-card-actions class="buttons-center">
            <button mat-button>MODIFICAR</button>
            <button mat-button>ELIMINAR</button>
          </mat-card-actions>
        </mat-card>
          </div>

          <div class="col-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Goulash</mat-card-title>
                <mat-card-subtitle>6.00€</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../../assets/img/goulash1.JPG">
              <mat-card-content>
                <p>
                  Sopa de carne de buey con cebollas y páprica.
                </p>
              </mat-card-content>
              <mat-card-actions class="buttons-center">
                <button mat-button>MODIFICAR</button>
                <button mat-button>ELIMINAR</button>
              </mat-card-actions>
            </mat-card>
              </div>

              <div class="col-3"></div>

      <div class="col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Patata de la casa</mat-card-title>
        <mat-card-subtitle>6.00€</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/patata1.JPG">
      <mat-card-content>
        <p>
          Patatas de la huerta con salsa de mantequilla y eneldo.
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-center">
        <button mat-button>MODIFICAR</button>
        <button mat-button>ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
      </div>

      <div class="col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Salmón a la plancha</mat-card-title>
            <mat-card-subtitle>6.00€</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/img/salmon5.JPG">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </mat-card-content>
          <mat-card-actions class="buttons-center">
            <button mat-button>MODIFICAR</button>
            <button mat-button>ELIMINAR</button>
          </mat-card-actions>
        </mat-card>
          </div>

          <div class="col-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Borsch</mat-card-title>
                <mat-card-subtitle>6.00€</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../../assets/img/goulash1.JPG">
              <mat-card-content>
                <p>
                  El sabroso y aromático borsch es la tarjeta de visita de la rica cocina ucraniana.
                </p>
              </mat-card-content>
              <mat-card-actions class="buttons-center">
                <button mat-button>MODIFICAR</button>
                <button mat-button>ELIMINAR</button>
              </mat-card-actions>
            </mat-card>
              </div>

              <div class="col-3"></div>

              <div class="col-3">
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Borsch</mat-card-title>
                    <mat-card-subtitle>6.00€</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../../assets/img/goulash1.JPG">
                  <mat-card-content>
                    <p>
                      El sabroso y aromático borsch es la tarjeta de visita de la rica cocina ucraniana.
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="buttons-center">
                    <button mat-button>MODIFICAR</button>
                    <button mat-button>ELIMINAR</button>
                  </mat-card-actions>
                </mat-card>
                  </div>


                  <div class="col-3">
                    <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Borsch</mat-card-title>
                        <mat-card-subtitle>6.00€</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../../assets/img/goulash1.JPG">
                      <mat-card-content>
                        <p>
                          El sabroso y aromático borsch es la tarjeta de visita de la rica cocina ucraniana. Entre los ingredientes principales de esta sopa (remolacha, zanahoria, patata, apio, perejil, eneldo, cebolla, ajo, tomate y carne) destaca la remolacha - protagonista que transmite al potaje su color emblemático. Estamos seguros que el olor inmejorable junto con el sabor impecable de nuestro borsch recién preparado te va a alegrar el día.
                        </p>
                      </mat-card-content>
                      <mat-card-actions class="buttons-center">
                        <button mat-button>MODIFICAR</button>
                        <button mat-button>ELIMINAR</button>
                      </mat-card-actions>
                    </mat-card>
                      </div>
      </div>
  </div>


<!--   <div class="card m-5" style="width: 18rem;">
    <a id="titulo" href="#"><strong>Modificar</strong></a>
    <a id="precio" href="#"><strong>4€</strong></a>
    <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
    <div class="card-body">
      <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
      <a href="#" class="btn btn-warning">Actualizar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div> -->
<!-- <div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div> -->
<!--
<div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>

<div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>

<div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>

<div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>


<div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>

<div class="card m-5" style="width: 18rem;">
  <a id="titulo" href="#"><strong>Macarrones</strong></a>
  <a id="precio" href="#"><strong>4€</strong></a>
  <img src="../../../assets/img/macarrones.jpg" class="card-img-top" alt="macarrones">
  <div class="card-body">
    <a id="titulo" href="#"><strong>Pasta alimenticia en forma de macarrón elaborada a base de sémola de trigo ecológica con tomate y verdura.</strong></a>
    <a href="#" class="btn btn-warning">Actualizar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div> -->



