<div class="crearPlatoImg">
  <div class="container loginContainer">
    <div class="row">
      <span class="loginTitle">Crea nuevo plato aquí</span>
    </div>

    <div class="row">
      <form [formGroup]="form">
        <!-- input título -->
        <div class="row">
          <mat-form-field>
            <input matInput type="text" placeholder="Título" formControlName="titulo">
            <mat-error *ngIf="form.get('titulo')?.hasError('required')">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="form.get('titulo')?.hasError('titulo')">
              Formato inválido
            </mat-error>
          </mat-form-field>
        </div>

        <!-- input precio -->
        <mat-form-field floatLabel="always">
          <mat-label>Precio</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" formControlName="precio">
          <span matPrefix>€&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="form.get('precio')?.hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>

        <!-- imagen -->
        <div class="row">
          <mat-form-field>
       <!--      <mat-label>Selecciona la imagen</mat-label> -->
              <input matInput>
           <!-- <span matPrefix>Selecciona la imagen</span> -->
               <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                      <mat-icon>attach_file</mat-icon>
                    </button> -->
              <input type="file" #UploadFileInput id="fileUpload" name="fileUpload" multiple="multiple"
                accept="image/*" />
          </mat-form-field>
        </div>

        <!--input descripción -->
        <div class="row">
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <textarea matInput type="text" placeholder="Descripción del plato" formControlName="descripcion"></textarea>
            <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>

    <!-- botón crear nuevo plato -->
    <div class="d-grid button-crear">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="entrar()">Crear nuevo
        plato</button>
    </div>
  </div>
</div>

    <!-- SOLO ICONO ROSA-->
     <!--    <div class="row">
          <input type="file" class="file-input" #fileUpload>
          <div class="file-upload">
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div> -->
