<div class="crearPlatoImg">
  <div class="container loginContainer">
    <div class="row">
      <span class="loginTitle">Crea nuevo plato:</span>
    </div>

    <div class="row">
      <form [formGroup]="form">

        <!-- input título -->
        <div class="row">
          <mat-form-field>
            <input matInput type="text" placeholder="Título" formControlName="titulo">
            <mat-error *ngIf="form.get('titulo')?.hasError('required')">
              Campo requerido
            </mat-error>
            <mat-error *ngIf="form.get('titulo')?.hasError('titulo')">
              Formato inválido
            </mat-error>
          </mat-form-field>
        </div>

        <!-- input precio -->
        <mat-form-field floatLabel="always">
          <mat-label>Precio</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" formControlName="precio">
          <span matPrefix>€&nbsp;</span>
          <mat-error *ngIf="form.get('precio')?.hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>

        <!-- imagen -->
        <div class="row">
          <button mat-raised-button (click)="fileInput.click()">Selecciona el archivo</button>
        </div>

        <!--input descripción -->
        <div class="row">
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <textarea matInput type="text" placeholder="Descripción del plato" formControlName="descripcion"></textarea>
            <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <!--input categoria -->
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Categoria del plato</mat-label>
            <mat-select formControlName="categoria" name="categoria">
              <!--[value]="categorias[i] - objeto de array de categorías -->
              <mat-option *ngFor="let categoria of categorias; let i = index" [value]="categorias[i]">
                {{categoria.nombreCategoria | uppercase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('categoria')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>

    <!-- botón crear nuevo plato -->
    <div class="d-grid button-crear">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="crearPlato()">
        Crear plato
      </button>
    </div>
  </div>
</div>

<!-- invocado al clickar "Selecciona el archivo"  -->
<input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
