.example-spacer{
    flex: 1 1 auto;
}

 .search-style {
  font-size: small;
  margin-right: 5px;
}

.example-button {
  display: block;
  margin: 80px auto 400px;
}

.example-container {
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
}

.user-logged{
  font-size: medium;
}


