<div class="loginImg">
  <ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>

  <div class="container">

    <div class="row justify-content-center pt-5">
      <mat-stepper linear class="example-stepper " [orientation]="(stepperOrientation | async)!">

        <!-- FECHA -->
        <mat-step [stepControl]="firstFormGroup" label="Día de la reserva">
          <form [formGroup]="firstFormGroup">
            <mat-form-field color="accent" appearance="fill">
              <mat-label>Elije la fecha</mat-label>
              <input matInput formControlName="fechaReserva" [matDatepicker]="picker2">
              <mat-hint>dia/mes/año</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
            <p>Tu día de reserva es: {{firstFormGroup.controls['fechaReserva'].value | date: 'dd/MM/yyyy'}}</p>
            <div>
              <button class="button-fecha" mat-raised-button color="accent" matStepperNext>Siguente</button>
            </div>

          </form>
        </mat-step>

        <!-- FRANJA HORARIA -->
        <mat-step [stepControl]="secondFormGroup" label="Franja horaria de la reserva">
          <form [formGroup]="secondFormGroup">
            <ng-container *ngIf="franjas$ | async as franjas">
              <mat-form-field color="accent" appearance="fill">
                <mat-label>Elige la franja horaria</mat-label>
                <mat-select formControlName="franjaReserva" name="food">

                  <mat-option *ngFor="let franja of franjas" [value]="franja">
                    {{franja.inicioFranja}} - {{franja.finFranja}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <div>
              <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
              <button mat-raised-button color="accent" matStepperNext>Siguente</button>
            </div>
          </form>
        </mat-step>

        <!-- PLATOS -->
        <mat-step [stepControl]="thirdFormGroup" label="Platos de la reserva">
          <form [formGroup]="thirdFormGroup">
            <!-- input entrante -->
            <div class="row">
              <div class="col-3">
                <ng-container *ngIf="entrantes$ | async as entrantes">
                  <mat-form-field appearance="fill">
                    <mat-label>Elige entrante</mat-label>
                    <mat-select formControlName="entrantes">
                      <mat-option *ngFor="let entrante of entrantes" [value]="entrante">
                        {{entrante.nombrePlato}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
              <!-- input primero -->
              <div class="col-3">
                <ng-container *ngIf="primeros$ | async as primeros">
                  <mat-form-field appearance="fill">
                    <mat-label>Elige primer plato</mat-label>
                    <mat-select formControlName="primeros">
                      <mat-option *ngFor="let primero of primeros" [value]="primero">
                        {{primero.nombrePlato}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
              <!-- form segundo -->
              <div class="col-3">
                <ng-container *ngIf="segundos$ | async as segundos">
                  <mat-form-field appearance="fill">
                    <mat-label>Elige segundo plato</mat-label>
                    <mat-select formControlName="segundos">
                      <mat-option *ngFor="let segundo of segundos" [value]="segundo">
                        {{segundo.nombrePlato}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </div>
              <!-- form postre -->
              <div class="col-3">
                <ng-container *ngIf="postres$ | async as postres">
                  <mat-form-field appearance="fill">
                    <mat-label>Elige postre</mat-label>
                    <mat-select formControlName="postres">
                      <mat-option *ngFor="let postre of postres" [value]="postre">
                        <!-- <img mat-card-image role="img" src="{{'data:image/jpg;base64,' + postre.imagenPlato}}" /> -->
                        {{postre.nombrePlato}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>

              </div>
            </div>

            <!-- <p>PlatoSeleccionado: {{thirdFormGroup.controls['platoReserva'].value}}</p> -->
            <div class="row button-reserva">
              <div class="col-4"></div>
              <div class="col-4"></div>
              <div class="col-4">
                <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                <button (click)="hacerReserva()" mat-raised-button color="accent" matStepperNext>Hacer reserva</button>
              </div>
            </div>

          </form>
        </mat-step>


        <!-- CONFIRMACIÓN DATOS  -->
      <mat-step  label="Detalles de la reserva">
        <div class="row mat-tab-body-content" *ngIf="reservasFiltradas$ | async as reservas ">
          <div class="col-3" *ngFor="let reserva of reservas">

            <mat-card class="example-card">
              <mat-card-header class="bg-card">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{reserva?.pedirPlato.plato.nombrePlato}}</mat-card-title>
                <mat-card-subtitle>{{reserva?.pedirPlato.plato.precioPlato | currency:'EUR'}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image role="img" src="{{'data:image/jpg;base64,' + reserva?.pedirPlato.plato.imagenPlato}}" />
              <mat-card-content class="bg-card">
                <p>
                  {{reserva?.pedirPlato.plato.descripcionPlato}}
                </p>
              </mat-card-content>

              <mat-card-actions  class="buttons-center">

              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-step>

      </mat-stepper>
    </div>
  </div>

</div>

<!-- SPINNER -->
<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async" [color]="color">
</mat-progress-spinner>

