.example-stepper {
  margin-top: 0px;
  opacity: 85%;
}

.mat-form-field {
  margin-top: 0px;
}

.loginImg{
  position: relative;
  height:100vh;
  max-width: 100%;
  max-height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-image: url(../../../assets/img/platter-2009590_960_720.webp);
}

button{
  background-color: rosybrown !important;
}
