
<div class="loginImg">
  <ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"></div>
    <div *ngSwitchCase="'vertical'"></div>
  </ng-container>

  <div class="container">

    <div class="row justify-content-center pt-5">
      <mat-stepper class="example-stepper " [orientation]="(stepperOrientation | async)!">

        <!-- FECHA -->
        <mat-step [stepControl]="firstFormGroup" label="Día de la reserva">
          <form [formGroup]="firstFormGroup">
            <mat-form-field color="accent" appearance="fill">
              <mat-label>Elije la fecha</mat-label>
              <input matInput formControlName="fechaReserva" [matDatepicker]="picker2">
              <mat-hint>dia/mes/año</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
            <p>Tu día de reserva es: {{firstFormGroup.controls['fechaReserva'].value | date: 'dd/MM/yyyy'}}</p>
            <div>
              <button class="button-fecha" mat-raised-button color="accent" matStepperNext>Siguente</button>
            </div>

          </form>
        </mat-step>

        <!-- FRANJA HORARIA -->
        <mat-step [stepControl]="secondFormGroup" label="Franja horaria de la reserva">
          <form [formGroup]="secondFormGroup">

            <mat-form-field color="accent" appearance="fill">
              <mat-label>Elige la franja horaria</mat-label>
              <mat-select formControlName="franjaReserva" name="food">
                <mat-option *ngFor="let franja of franjas" [value]="franja.value">
                  {{franja.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Tu franja horaria: {{secondFormGroup.controls['franjaReserva'].value}} </p>
            <div>
              <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
              <button mat-raised-button color="accent" matStepperNext>Siguente</button>
            </div>
          </form>
        </mat-step>


        <!-- PLATOS -->
        <mat-step [stepControl]="thirdFormGroup" label="Platos de la reserva">
          <form [formGroup]="thirdFormGroup">
            <!-- form ensalada -->
            <div class="row">
              <div class="col-3">
                <mat-form-field appearance="fill">
                  <mat-label>Elige ensalada</mat-label>
                  <mat-select formControlName="ensaladaPlato">
                    <mat-option *ngFor="let ensalada of ensaladas" [value]="ensalada.value">
                      {{ensalada.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- form primero -->
              <div class="col-3">
                <mat-form-field appearance="fill">
                  <mat-label>Elige primer plato</mat-label>
                  <mat-select formControlName="primerPlato" >
                    <mat-option *ngFor="let plato of primerPlato" [value]="plato.value">
                      {{plato.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- form segundo -->
              <div class="col-3">
                <mat-form-field appearance="fill">
                  <mat-label>Elige segundo plato</mat-label>
                  <mat-select formControlName="segundoPlato" >
                    <mat-option *ngFor="let plato of segundoPlato" [value]="plato.value">
                      {{plato.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- form postre -->
              <div class="col-3">
                <mat-form-field appearance="fill">
                  <mat-label>Elige postre</mat-label>
                  <mat-select formControlName="postrePlato">
                    <mat-option *ngFor="let postre of postres" [value]="postre.value">
                      {{postre.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <!-- <p>PlatoSeleccionado: {{thirdFormGroup.controls['platoReserva'].value}}</p> -->

            <div class="row button-reserva">
              <div class="col-4"></div>
              <div class="col-4"></div>
              <div class="col-4">
                <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                <button mat-raised-button color="accent" matStepperNext>Hacer reserva</button>
              </div>
            </div>


          </form>
        </mat-step>


        <!-- CONFIRMACIÓN DATOS  -->
        <!--        <mat-step [stepControl]="thirdFormGroup" label="Confirmar la reserva">
        <form [formGroup]="thirdFormGroup">

          <mat-form-field color="accent" appearance="fill">
            <mat-label>Elige los platos</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p> Tu franja horaria: {{selectedValue}} </p>
          <div>
            <button mat-raised-button color="accent" matStepperNext>Siguente</button>
          </div>
        </form>
      </mat-step> -->


        <mat-step>
          <ng-template matStepLabel>Hecho</ng-template>
          <p>¡Reserva hecha con éxito!</p>

        </mat-step>
      </mat-stepper>
    </div>
  </div>

</div>
