<div class="loginImg">
  <div class="container loginContainer">

    <div class="row">
      <span class="loginTitle">¡Bienvenido! Identifícate para entrar en la aplicación</span>
    </div>
    <div class="row" >
      <form  [formGroup]="form">
        <div class="row">
          <mat-form-field >

            <input matInput type="email" placeholder="Correo electrónico" formControlName="email">

            <mat-error *ngIf="form.get('email')?.hasError('required')">
                Campo requerido
            </mat-error>

            <mat-error *ngIf="form.get('email')?.hasError('email')">
              Formato inválido
          </mat-error>

          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field>
            <input matInput type=password placeholder="Contraseña" formControlName="password">

            <mat-error *ngIf="form.get('password')?.hasError('required')">
              Campo requerido
          </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="row button-acceder">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="entrarClicked()">Acceder</button>
    </div>

    <div class="row mt-4 pb-2">
      <span class="loginTitle "><a routerLink="/registro">Crear una cuenta</a></span>
    </div>
  </div>

  <!-- SPINNER -->
<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>

</div>
