.loginTitle{
  letter-spacing: 1px;
  font-family: system-ui;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.loginContainer{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  background-color: black;
  opacity: 0.9;
  border-radius: 15px;
}

.loginImg{
  position: relative;
  height:100vh;
  max-width: 100%;
  max-height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-image: url(../../assets/img/login.jpg);
}
