<app-header></app-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="false" [fixedTopGap]="0"
    [fixedBottomGap]="0">

    <mat-selection-list [multiple]="false">

      <a class="nav-link" routerLink="/platos">
        <mat-list-option>
          Catálogo platos
        </mat-list-option>
      </a>

      <ng-container *ngIf="usuarioLogeado$ | async as usuario">
        <a class="nav-link" routerLink="/crear-plato">
          <mat-list-option>
            Crear platos
          </mat-list-option>
        </a>

        <a class="nav-link" routerLink="/reserva">
          <mat-list-option>
            Hacer reserva
          </mat-list-option>
        </a>
      </ng-container>

    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<div class="example-footer">
  <app-footer></app-footer>
</div>
