
.crearPlatoImg{
  position: relative;
  height:100vh;
  max-width: 100%;
  max-height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  object-fit: contain;
  background-image: url(../../../../assets/img/registro.jpg);
}

.loginContainer{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  background-color:  #171a1d;
  opacity: 0.65;
  border-radius: 15px;
}

.loginTitle{
  letter-spacing: 1px;
  font-family: system-ui;
  text-align: center;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 9;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

#formFile{
background-color: rosybrown !important;
}

.elige-imagen{
  font-size: small;
  font-weight: lighter;
}

.button-crear{
  margin-bottom: 3%;
  padding-left: 130px;
  padding-right: 130px;
}

.file-input {
  opacity: 3;
}





